{% extends "questionnaire/base.html" %}

{% block title %}{{ questionnaire.name }}{% endblock %}

{% block content %}
    <h3>{{ questionnaire.name }}</h3>

    <div id="questionnaire">
        {% include "questionnaire/question.html" with question=questionnaire.first_question%}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        function customize_radio_btns(context){
            $(":radio[name^='transition']", context).click(function() {
                const btn = $(this);
                btn.closest("div.question").nextAll().remove();

                const url = "{% url 'questionnaire:solution_and_next_question' 222 %}".replace("222", $(this).val().toString()); // TODO: FIX THIS SHIT

                $.get(url, function(data){
                    $("div#questionnaire").append(data);
                    customize_radio_btns(btn.closest("div.question").nextAll());
                });
            });
        }

        $(function(){
            customize_radio_btns('');
        });
    </script>

{% endblock %}