{% extends "questionnaire/base.html" %}

{% block title %}Questionnaires{% endblock %}

{% block content %}
    <h3>Questionnaires</h3>

    {% if questionnaire_list %}
        <ul>
            {% for questionnaire in questionnaire_list %}
                <li><a href="{% url "questionnaire:detail" questionnaire.id %}">
                    {{ questionnaire.name }}
                </a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No questionnaires are available.</p>
    {% endif %}
{% endblock %}
