<div class="question">
    <p class="question-content">{{ question.content }}</p>
    {% for transition in question.transition_set.all %}
        <p class="answer">
            <input type="radio" name="transition-{{ question.id }}"
                   id="transition-{{ question.id }}-{{ forloop.counter }}"
                   value="{{ transition.id }}"/>
            <label for="transition-{{ question.id }}-{{ forloop.counter }}">{{ transition.answer.content }}</label>
        </p>
    {% endfor %}
</div>